@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {

  background:#F8FAFC;
  color:#0F172A;
  font-family:
  Inter,
  system-ui,
  sans-serif;

}

::selection{
  background:#6366F1;
  color:white;
  }

  html{
    scroll-behavior:smooth;
    }
    section{

      scroll-margin-top:80px;
      
      }